
@{
    ViewBag.Title = "IndexAfter";
}


<div class="jumbotron" style="background:#000000; color:#ffffff; margin: 10px 10px 10px 10px">
    <h1>Немного о нас</h1>

    <br />

    <p>
        Бюро Экспертизы и оценки - специализированная организация, осуществляющая в разных областях экспертизу с последующей оценкой, результат которой может стать решающим в вынесении вердикта по спорному вопросу.
        Такую экспертизу проводят профессионалы, обладающие знаниями в своих предметных областях.
    </p>
    <br />

    <p>
        Бюро Экспертизы и Оценки предлагает перечень услуг по экспертизе с последующей оценкой в сфере недвижимости и техники.
        Мы поможем разрешить спорные ситуации и проведём независимую экспертизу/оценку на должном уровне.
    </p>
    <br />
    <p>
        <h2>Наши преимущества</h2> <br />
    </p>

    <p>
        1. Большой опыт проведения экспертиз с последующей оценкой.  <br />
        2. Качественное выполнение услуг.  <br />
        3. Индивидуальный подход к каждому клиент.  <br />
        4. Надежность.  <br />
        5. Сжатые сроки.  <br />
        6. Доступные цены при высоком качестве. <br />
    </p>

    <br>
</div>


