@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron" style="background:#000000; color:#ffffff; margin: 10px 10px 10px 10px">
    <h1>Добро пожаловать!</h1>
    @*<p class="lead">Бюро Экспертизы и оценки - специализированная организация,
        осуществляющая в разных областях экспертизу с последующей оценкой,
        результат которой может стать решающим в вынесении вердикта по спорному вопросу.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Читать далее&raquo;</a></p>*@
    <p class="lead">
        <h3>Рады приветствовать вас на нашем сайте "Бюро экспертизы и оценки"</h3>
    </p>
    <br />

    <p>
        Если вам необходима профессиональная помощь экспертной компании, тогда мы предлагаем вам свои услуги.
    </p>

    <br />

    <p>
        <center>
            <img src="~/Images/BuroExp.jpg" style="text-align: center" />
        </center>
    </p>

    <br>

    <p>
        
    </p>

    <button class="btn btn-primary btn-lg" style="background-color:#ffffff; text-decoration:none;">@Html.ActionLink("Узнать подробнее", "IndexAfter", "Home")</button>
</div>
